*{
	box-sizing: border-box; 
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
	background-color: #ebebeb;
}

section{
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

header{
	background-color: darkOrange;
	color: white; 
	padding-top: 50px;
	padding-bottom: 50px;
}

nav{
	width: 100%;
	height: 43px;
	background-color: #f7f7f7;
}

nav a {
	padding: 15px;
	display: block;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
}

ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
}

nav a:hover{
	padding-bottom: 20px;
	color: #f7f7f7;
	background: #acbdba;
	transition: 0.5s;
}

h1 {
	text-align: center;
	margin-left: -100px;
	font-family: 'EB Garamond', serif;
	font-size: 55px;
	font-weight: lighter;
	color: #2e2e2e;
}

h2 {
	font-size: 35px;
	margin-left: -20px;
}

div {
	background-color: #ebebeb;
	margin-top:50px;
	width:1050px;
	height:120px;
}

.intro {
	text-align: left;
	margin-left: 110px;
	margin-top: -20px;
	font-family: 'Calibri', serif;
	font-size: 17px;
	width: 1000px;
}

.introspace {
	text-align: left;
	margin-left: 110px;
	font-family: 'Calibri', serif;
	font-size: 17px;
	width: 1000px;
}
.navigate {
	height:50px;
	background: #acbdba;
}

.home {
	height:1150px;
}

.button {
	color: #2e2e2e;
	margin: -75px 0 0 940px;
	width: 90px;
	height: 90px;
	text-align: center;
	padding: 15px;
	background: #ebebeb; 
}

.button:hover {
	width: 90px;
	height: 90px;
	color: #acbdba;
	transition: 0.2s;
}

.next:hover {
	width: 70px;
	height: 70px;
	color: #acbdba;
	transition: 0.2s;
}

.next {
	color: #2e2e2e;
	margin: -85px 0 0 758px;
	width: 70px;
	height: 70px;
	text-align: center;
	padding: 15px;
	background: #ebebeb; 
}

 a p{
 	font-family: 'Calibri', serif;
 	text-decoration: none;
 	font-weight: bold;
 	color: #acbdba;
 }

 p {
 	text-align: center;
 	font-family: 'Calibri', serif;
 	font-size: 17px;
 }

 img {
	margin-left: 3px;
/*	padding-bottom: 700px;*/
 }

 a{
 	text-decoration: none;
 	color: #5c6e6c;
 }

 .text {
 	text-align: left;
 	max-width: 1050px;
 }

#two, #three, #four, #five, #six, #seven {
	width: 1050px;
	height: 65px;
	background: #acbdba;
	padding: 12px 0 30px 20px;
}

footer {
	text-align: center;
	padding-bottom: 15px;
	padding-top: 15px;
	background: #f7f7f7;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
}

